<h1>Welcome To Rocket Propelled Grenade The Game</h1>

<h3>Users who don't matter.</h3>
<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user_path(user.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>[insert macro-aggression here]</p>
<% end %>

<h3>All Items</h3>
<% if @items.any? %>
  <ul>
    <% @items.each do |item| %>
      <li><%= link_to item.name, item_path(item.id) %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There aren't any items for you [insert micro-aggression here].</p>
<% end %>
